<div class="ninety-day-guarantee lazyload-element animate">
  <div class="ninety-day-Content">
    <h3>We've got a 90 Day Coolant Satisfaction Guarantee</h3>
    <p>Our technicians will reccomend the best coolant for your operations - and guarantee your satisfaction.</p>
    <a class="button" href="https://excision.com.au/pages/90-day-coolant-satisfaction-guarantee">Learn More</a>
  </div>
</div>

<style>
  div.ninety-day-guarantee {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    padding: 40px;
    background-image: url(https://cdn.shopify.com/s/files/1/0439/5597/8399/files/CNC_milling_machine_colour_overl_e2ffb743-829e-47b7-9948-868521ae1b20.webp?v=1764748358);
    background-size: cover;
    margin: 40px auto;
    text-align: center;
  }
  div.ninety-day-Content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  div.ninety-day-guarantee h3 {
    color: #fff;
    letter-spacing: -1px;
    font-size: xxx-large;
    text-align: left;
    text-wrap: balance;
    margin-bottom: 20px;
  }
  a.button {
    background: white;
  }
  div.ninety-day-guarantee p {
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
  }
</style>
