<div class="grid-item {{ grid_item_width }}">
  <a href="{{ ad_url }}" class="product-grid-item">
    <div class="product-grid-image" style="background: url({{ ad_image }}) center/cover no-repeat; border-radius: 15px; height: 100%; padding: 60px 30px; display: flex; flex-direction: column; justify-content: space-between;">
      <h3 style="color: white; font-size: 48px;">{{ ad_heading }}</h3>
      <span class="btn" style="background: white; border: 0px; padding: 10px 15px;">Learn More</span>
    </div>
  </a>
</div>