<table class="speeds-feeds" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; width: 100%; height: 901.6px;">
<colgroup>
<col width="64" span="2" style="width: 3.17495%;">
<col width="127" style="width: 7.28233%;">
<col width="64" span="22" style="width: 3.48361%;">
</colgroup>
<tbody>
<tr height="19"> 
<td rowspan="2" height="38" class="standard-heading" width="64" style="height: 39.2px; width: 48pt;">ISO</td>
<td rowspan="2" class="standard-heading" width="64" style="width: 48pt; height: 39.2px;">VDI 3323</td>
<td rowspan="2" class="standard-heading" width="127" style="width: 95pt; height: 39.2px;">
<span style="mso-spacerun: yes;">&nbsp;</span>Material Description</td>
<td rowspan="2" class="standard-heading" width="64" style="width: 48pt; height: 39.2px;">Ae</td>
<td rowspan="2" class="standard-heading" width="64" style="width: 48pt; height: 39.2px;">Parameter</td>
<td colspan="19" class="standard-heading" width="1216" style="width: 912pt; height: 19.6px;">Diameter (Ø)</td>
</tr>
<tr height="19">
<td height="19" class="standard-heading">2.0</td>
<td class="standard-heading">3.0</td>
<td class="standard-heading">4.0</td>
<td class="standard-heading">5.0</td>
<td class="standard-heading">6.0</td>
<td class="standard-heading">8.0</td>
<td class="standard-heading">10.0</td>
<td class="standard-heading">12.0</td>
<td class="standard-heading">14.0</td>
<td class="standard-heading">16.0</td>
<td class="standard-heading">18.0</td>
<td class="standard-heading">20.0</td>
</tr>
<tr height="19">
<td rowspan="30" height="304" class="blue" style="height: 313.6px;">P</td>
<td style="height: 78.4px;" rowspan="5" class="blue">1-4</td>
<td style="height: 78.4px;" rowspan="10" class="blue-half">Non-Alloy Steel</td>
<td style="height: 78.4px;" rowspan="5" class="blue-quarter">0.2D</td>
<td class="xl90" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">85</td>
<td class="xl91">110</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">155</td>
<td class="xl91">170</td>
<td class="xl91">190</td>
<td class="xl91">200</td>
<td class="xl91">205</td>
<td class="xl91">210</td>
<td class="xl91">225</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.013</td>
<td class="xl95">0.019</td>
<td class="xl95">0.027</td>
<td class="xl95">0.033</td>
<td class="xl95">0.046</td>
<td class="xl95">0.068</td>
<td class="xl95">0.089</td>
<td class="xl95">0.112</td>
<td class="xl95">0.124</td>
<td class="xl95">0.136</td>
<td class="xl95">0.14</td>
<td class="xl95">0.15</td>
</tr>
<tr height="19">       
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">13528</td>
<td class="xl95">11671</td>
<td class="xl95">8754</td>
<td class="xl95">7958</td>
<td class="xl95">7162</td>
<td class="xl95">6167</td>
<td class="xl95">5411</td>
<td class="xl95">5040</td>
<td class="xl95">4547</td>
<td class="xl95">4078</td>
<td class="xl95">3802</td>
<td class="xl95">3581</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">703</td>
<td class="xl99">887</td>
<td class="xl99">945</td>
<td class="xl99">1050</td>
<td class="xl99">1318</td>
<td class="xl99">1677</td>
<td class="xl99">1926</td>
<td class="xl99">2258</td>
<td class="xl99">2255</td>
<td class="xl99">2219</td>
<td class="xl99">2129</td>
<td class="xl99">2149</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td style="height: 78.4px;" rowspan="5" class="blue">5</td>
<td style="height: 78.4px;" rowspan="5" class="blue-quarter">0.2D</td>
<td class="xl90" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">65</td>
<td class="xl91">80</td>
<td class="xl91">90</td>
<td class="xl91">95</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">150</td>
<td class="xl91">160</td>
<td class="xl91">160</td>
<td class="xl91">170</td>
<td class="xl91">175</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.01</td>
<td class="xl95">0.017</td>
<td class="xl95">0.024</td>
<td class="xl95">0.03</td>
<td class="xl95">0.046</td>
<td class="xl95">0.06</td>
<td class="xl95">0.076</td>
<td class="xl95">0.089</td>
<td class="xl95">0.099</td>
<td class="xl95">0.108</td>
<td class="xl95">0.111</td>
<td class="xl95">0.119</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">10345</td>
<td class="xl95">8488</td>
<td class="xl95">7162</td>
<td class="xl95">6048</td>
<td class="xl95">5836</td>
<td class="xl95">4974</td>
<td class="xl95">4297</td>
<td class="xl95">3979</td>
<td class="xl95">3638</td>
<td class="xl95">3183</td>
<td class="xl95">3006</td>
<td class="xl95">2785</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">414</td>
<td class="xl99">577</td>
<td class="xl99">688</td>
<td class="xl99">726</td>
<td class="xl99">1074</td>
<td class="xl99">1194</td>
<td class="xl99">1306</td>
<td class="xl99">1416</td>
<td class="xl99">1441</td>
<td class="xl99">1375</td>
<td class="xl99">1335</td>
<td class="xl99">1326</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="5" height="76" class="blue" style="height: 78.4px;">6-7</td>
<td style="height: 78.4px;" rowspan="10" class="blue-half">Low-Alloy Steel</td>
<td style="height: 78.4px;" rowspan="5" class="blue-quarter">0.2D</td>
<td class="xl101" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">85</td>
<td class="xl91">110</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">155</td>
<td class="xl91">170</td>
<td class="xl91">190</td>
<td class="xl91">200</td>
<td class="xl91">205</td>
<td class="xl91">210</td>
<td class="xl91">225</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.013</td>
<td class="xl95">0.019</td>
<td class="xl95">0.027</td>
<td class="xl95">0.033</td>
<td class="xl95">0.046</td>
<td class="xl95">0.068</td>
<td class="xl95">0.089</td>
<td class="xl95">0.112</td>
<td class="xl95">0.124</td>
<td class="xl95">0.136</td>
<td class="xl95">0.14</td>
<td class="xl95">0.15</td>
</tr>
<tr height="19">       
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">13528</td>
<td class="xl95">11671</td>
<td class="xl95">8754</td>
<td class="xl95">7958</td>
<td class="xl95">7162</td>
<td class="xl95">6167</td>
<td class="xl95">5411</td>
<td class="xl95">5040</td>
<td class="xl95">4547</td>
<td class="xl95">4078</td>
<td class="xl95">3802</td>
<td class="xl95">3581</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">703</td>
<td class="xl99">887</td>
<td class="xl99">945</td>
<td class="xl99">1050</td>
<td class="xl99">1318</td>
<td class="xl99">1677</td>
<td class="xl99">1926</td>
<td class="xl99">2258</td>
<td class="xl99">2255</td>
<td class="xl99">2219</td>
<td class="xl99">2129</td>
<td class="xl99">2149</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="5" height="76" class="blue" style="height: 78.4px;">8-9</td>
<td style="height: 78.4px;" rowspan="5" class="blue-quarter">0.2D</td>
<td class="xl101" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">65</td>
<td class="xl91">80</td>
<td class="xl91">90</td>
<td class="xl91">95</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">150</td>
<td class="xl91">160</td>
<td class="xl91">160</td>
<td class="xl91">170</td>
<td class="xl91">175</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.01</td>
<td class="xl95">0.017</td>
<td class="xl95">0.024</td>
<td class="xl95">0.03</td>
<td class="xl95">0.046</td>
<td class="xl95">0.06</td>
<td class="xl95">0.076</td>
<td class="xl95">0.089</td>
<td class="xl95">0.099</td>
<td class="xl95">0.108</td>
<td class="xl95">0.111</td>
<td class="xl95">0.119</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">10345</td>
<td class="xl95">8488</td>
<td class="xl95">7162</td>
<td class="xl95">6048</td>
<td class="xl95">5836</td>
<td class="xl95">4974</td>
<td class="xl95">4297</td>
<td class="xl95">3979</td>
<td class="xl95">3638</td>
<td class="xl95">3183</td>
<td class="xl95">3006</td>
<td class="xl95">2785</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">414</td>
<td class="xl99">577</td>
<td class="xl99">688</td>
<td class="xl99">726</td>
<td class="xl99">1074</td>
<td class="xl99">1194</td>
<td class="xl99">1306</td>
<td class="xl99">1416</td>
<td class="xl99">1441</td>
<td class="xl99">1375</td>
<td class="xl99">1335</td>
<td class="xl99">1326</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="5" height="76" class="blue" style="height: 78.4px;">10</td>
<td rowspan="10" class="blue-half" width="127" style="border-bottom: 0.5pt solid rgb(134, 186, 228); width: 95pt; height: 156.8px;">High-Alloyed Steel, and Tool Steel</td>
<td style="height: 78.4px;" rowspan="5" class="blue-quarter">0.2D</td>
<td class="xl112" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">85</td>
<td class="xl91">110</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">155</td>
<td class="xl91">170</td>
<td class="xl91">190</td>
<td class="xl91">200</td>
<td class="xl91">205</td>
<td class="xl91">210</td>
<td class="xl91">225</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.013</td>
<td class="xl95">0.019</td>
<td class="xl95">0.027</td>
<td class="xl95">0.033</td>
<td class="xl95">0.046</td>
<td class="xl95">0.068</td>
<td class="xl95">0.089</td>
<td class="xl95">0.112</td>
<td class="xl95">0.124</td>
<td class="xl95">0.136</td>
<td class="xl95">0.14</td>
<td class="xl95">0.15</td>
</tr>
<tr height="19">       
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">13528</td>
<td class="xl95">11671</td>
<td class="xl95">8754</td>
<td class="xl95">7958</td>
<td class="xl95">7162</td>
<td class="xl95">6167</td>
<td class="xl95">5411</td>
<td class="xl95">5040</td>
<td class="xl95">4547</td>
<td class="xl95">4078</td>
<td class="xl95">3802</td>
<td class="xl95">3581</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">703</td>
<td class="xl99">887</td>
<td class="xl99">945</td>
<td class="xl99">1050</td>
<td class="xl99">1318</td>
<td class="xl99">1677</td>
<td class="xl99">1926</td>
<td class="xl99">2258</td>
<td class="xl99">2255</td>
<td class="xl99">2219</td>
<td class="xl99">2129</td>
<td class="xl99">2149</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="5" height="76" class="blue" style="height: 78.4px;">11.1-11.2</td>
<td style="height: 78.4px;" rowspan="5" class="blue-quarter">0.2D</td>
<td class="xl79" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">65</td>
<td class="xl91">80</td>
<td class="xl91">90</td>
<td class="xl91">95</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">150</td>
<td class="xl91">160</td>
<td class="xl91">160</td>
<td class="xl91">170</td>
<td class="xl91">175</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.01</td>
<td class="xl95">0.017</td>
<td class="xl95">0.024</td>
<td class="xl95">0.03</td>
<td class="xl95">0.046</td>
<td class="xl95">0.06</td>
<td class="xl95">0.076</td>
<td class="xl95">0.089</td>
<td class="xl95">0.099</td>
<td class="xl95">0.108</td>
<td class="xl95">0.111</td>
<td class="xl95">0.119</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">10345</td>
<td class="xl95">8488</td>
<td class="xl95">7162</td>
<td class="xl95">6048</td>
<td class="xl95">5836</td>
<td class="xl95">4974</td>
<td class="xl95">4297</td>
<td class="xl95">3979</td>
<td class="xl95">3638</td>
<td class="xl95">3183</td>
<td class="xl95">3006</td>
<td class="xl95">2785</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">414</td>
<td class="xl99">577</td>
<td class="xl99">688</td>
<td class="xl99">726</td>
<td class="xl99">1074</td>
<td class="xl99">1194</td>
<td class="xl99">1306</td>
<td class="xl99">1416</td>
<td class="xl99">1441</td>
<td class="xl99">1375</td>
<td class="xl99">1335</td>
<td class="xl99">1326</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="5" class="orange">K</td>
<td style="height: 78.4px;" rowspan="5" class="orange">15-20</td>
<td style="height: 78.4px;" rowspan="5" class="orange-half">Grey cast iron Nodular cast iron Malleable cast iron</td>
<td style="height: 78.4px;" rowspan="5" class="orange-quarter">0.7D</td>
<td class="xl90" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">65</td>
<td class="xl91">60</td>
<td class="xl91">65</td>
<td class="xl91">60</td>
<td class="xl91">65</td>
</tr>
<tr height="19">     
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.008</td>
<td class="xl95">0.012</td>
<td class="xl95">0.021</td>
<td class="xl95">0.03</td>
<td class="xl95">0.04</td>
<td class="xl95">0.068</td>
<td class="xl95">0.083</td>
<td class="xl95">0.097</td>
<td class="xl95">0.125</td>
<td class="xl95">0.135</td>
<td class="xl95">0.159</td>
<td class="xl95">0.15</td>
</tr>
<tr height="19">       
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">10345</td>
<td class="xl95">6897</td>
<td class="xl95">5173</td>
<td class="xl95">4138</td>
<td class="xl95">3448</td>
<td class="xl95">2586</td>
<td class="xl95">2069</td>
<td class="xl95">1724</td>
<td class="xl95">1364</td>
<td class="xl95">1293</td>
<td class="xl95">1061</td>
<td class="xl95">1035</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">331</td>
<td class="xl99">331</td>
<td class="xl99">434</td>
<td class="xl99">497</td>
<td class="xl99">552</td>
<td class="xl99">703</td>
<td class="xl99">687</td>
<td class="xl99">669</td>
<td class="xl99">682</td>
<td class="xl99">698</td>
<td class="xl99">675</td>
<td class="xl99">621</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="10" height="304" class="green" style="height: 313.6px;">N</td>
<td style="height: 78.4px;" rowspan="5" class="green">21~22</td>
<td style="height: 78.4px;" rowspan="5" class="green-half">Aluminum-wrought alloy </td>
<td style="height: 78.4px;" rowspan="5" class="green-quarter">0.7D</td>
<td class="xl90" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">195</td>
<td class="xl91">195</td>
<td class="xl91">195</td>
<td class="xl91">190</td>
<td class="xl91">195</td>
<td class="xl91">200</td>
<td class="xl91">195</td>
<td class="xl91">195</td>
<td class="xl91">190</td>
<td class="xl91">195</td>
<td class="xl91">190</td>
<td class="xl91">185</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.005</td>
<td class="xl95">0.007</td>
<td class="xl95">0.01</td>
<td class="xl95">0.015</td>
<td class="xl95">0.017</td>
<td class="xl95">0.026</td>
<td class="xl95">0.033</td>
<td class="xl95">0.046</td>
<td class="xl95">0.055</td>
<td class="xl95">0.053</td>
<td class="xl95">0.06</td>
<td class="xl95">0.069</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">31035</td>
<td class="xl95">20690</td>
<td class="xl95">15518</td>
<td class="xl95">12096</td>
<td class="xl95">10345</td>
<td class="xl95">7958</td>
<td class="xl95">6207</td>
<td class="xl95">5173</td>
<td class="xl95">4320</td>
<td class="xl95">3879</td>
<td class="xl95">3360</td>
<td class="xl95">2944</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">621</td>
<td class="xl99">579</td>
<td class="xl99">621</td>
<td class="xl99">726</td>
<td class="xl99">703</td>
<td class="xl99">828</td>
<td class="xl99">819</td>
<td class="xl99">952</td>
<td class="xl99">950</td>
<td class="xl99">822</td>
<td class="xl99">806</td>
<td class="xl99">813</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="5" height="76" class="green" style="height: 78.4px;">23~25</td>
<td style="height: 78.4px;" rowspan="5" class="green-half">Aluminum-cast,alloyed </td>
<td style="height: 78.4px;" rowspan="5" class="green-quarter">0.7D</td>
<td class="xl101" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">195</td>
<td class="xl91">195</td>
<td class="xl91">195</td>
<td class="xl91">190</td>
<td class="xl91">195</td>
<td class="xl91">200</td>
<td class="xl91">195</td>
<td class="xl91">195</td>
<td class="xl91">190</td>
<td class="xl91">195</td>
<td class="xl91">190</td>
<td class="xl91">185</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.005</td>
<td class="xl95">0.007</td>
<td class="xl95">0.01</td>
<td class="xl95">0.015</td>
<td class="xl95">0.017</td>
<td class="xl95">0.026</td>
<td class="xl95">0.033</td>
<td class="xl95">0.046</td>
<td class="xl95">0.055</td>
<td class="xl95">0.053</td>
<td class="xl95">0.06</td>
<td class="xl95">0.069</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">31035</td>
<td class="xl95">20690</td>
<td class="xl95">15518</td>
<td class="xl95">12096</td>
<td class="xl95">10345</td>
<td class="xl95">7958</td>
<td class="xl95">6207</td>
<td class="xl95">5173</td>
<td class="xl95">4320</td>
<td class="xl95">3879</td>
<td class="xl95">3360</td>
<td class="xl95">2944</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">621</td>
<td class="xl99">579</td>
<td class="xl99">621</td>
<td class="xl99">726</td>
<td class="xl99">703</td>
<td class="xl99">828</td>
<td class="xl99">819</td>
<td class="xl99">952</td>
<td class="xl99">950</td>
<td class="xl99">822</td>
<td class="xl99">806</td>
<td class="xl99">813</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr height="19">
<td rowspan="10" class="dark-gray">H</td>
<td style="height: 78.4px;" rowspan="5" class="dark-gray">38.1</td>
<td style="height: 78.4px;" rowspan="5" class="dark-gray-half">Hardened steel</td>
<td style="height: 78.4px;" rowspan="5" class="dark-gray-quarter">0.2D</td>
<td class="xl90" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">25</td>
<td class="xl91">35</td>
<td class="xl91">45</td>
<td class="xl91">50</td>
<td class="xl91">50</td>
<td class="xl91">55</td>
<td class="xl91">55</td>
<td class="xl91">55</td>
<td class="xl91">55</td>
<td class="xl91">55</td>
<td class="xl91">60</td>
<td class="xl91">60</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.008</td>
<td class="xl95">0.012</td>
<td class="xl95">0.016</td>
<td class="xl95">0.019</td>
<td class="xl95">0.022</td>
<td class="xl95">0.034</td>
<td class="xl95">0.041</td>
<td class="xl95">0.053</td>
<td class="xl95">0.062</td>
<td class="xl95">0.073</td>
<td class="xl95">0.076</td>
<td class="xl95">0.084</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">3979</td>
<td class="xl95">3714</td>
<td class="xl95">3581</td>
<td class="xl95">3183</td>
<td class="xl95">2653</td>
<td class="xl95">2188</td>
<td class="xl95">1751</td>
<td class="xl95">1459</td>
<td class="xl95">1251</td>
<td class="xl95">1094</td>
<td class="xl95">1061</td>
<td class="xl95">955</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">127</td>
<td class="xl99">178</td>
<td class="xl99">229</td>
<td class="xl99">242</td>
<td class="xl99">233</td>
<td class="xl99">298</td>
<td class="xl99">287</td>
<td class="xl99">309</td>
<td class="xl99">310</td>
<td class="xl99">320</td>
<td class="xl99">323</td>
<td class="xl99">321</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
<tr>
<td style="height: 78.4px;" rowspan="5" class="dark-gray">40</td>
<td style="height: 78.4px;" rowspan="5" class="dark-gray-half">Chilled Cast Iron</td>
<td style="height: 78.4px;" rowspan="5" class="dark-gray-quarter">0.2D</td>
<td class="xl90" width="64" style="width: 48pt; height: 19.6px;">Vc</td>
<td class="xl91">65</td>
<td class="xl91">80</td>
<td class="xl91">90</td>
<td class="xl91">95</td>
<td class="xl91">110</td>
<td class="xl91">125</td>
<td class="xl91">135</td>
<td class="xl91">150</td>
<td class="xl91">160</td>
<td class="xl91">160</td>
<td class="xl91">170</td>
<td class="xl91">175</td>
</tr>
<tr height="19">
<td height="19" class="xl94" width="64" style="height: 19.6px; width: 48pt;">fz</td>
<td class="xl95">0.01</td>
<td class="xl95">0.017</td>
<td class="xl95">0.024</td>
<td class="xl95">0.03</td>
<td class="xl95">0.046</td>
<td class="xl95">0.06</td>
<td class="xl95">0.076</td>
<td class="xl95">0.089</td>
<td class="xl95">0.099</td>
<td class="xl95">0.108</td>
<td class="xl95">0.111</td>
<td class="xl95">0.119</td>
</tr>
<tr height="19">           
<td height="19" class="xl97" width="64" style="height: 19.6px; width: 48pt;">RPM</td>
<td class="xl95">10345</td>
<td class="xl95">8488</td>
<td class="xl95">7162</td>
<td class="xl95">6048</td>
<td class="xl95">5836</td>
<td class="xl95">4974</td>
<td class="xl95">4297</td>
<td class="xl95">3979</td>
<td class="xl95">3638</td>
<td class="xl95">3183</td>
<td class="xl95">3006</td>
<td class="xl95">2785</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">FEED</td>
<td class="xl99">414</td>
<td class="xl99">577</td>
<td class="xl99">688</td>
<td class="xl99">726</td>
<td class="xl99">1074</td>
<td class="xl99">1194</td>
<td class="xl99">1306</td>
<td class="xl99">1416</td>
<td class="xl99">1441</td>
<td class="xl99">1375</td>
<td class="xl99">1335</td>
<td class="xl99">1326</td>
</tr>
<tr height="19">
<td height="19" class="xl98" width="64" style="height: 19.6px; width: 48pt;">Ap</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.2</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
<td class="xl99">0.3</td>
</tr>
</tbody>
</table>