  <div class="table-scrollable-wrapper">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="488"
      style="border-collapse: collapse; width: 100%; height: 313.587px;"
    >
      <colgroup>
        <col width="155" style="width: 154px;">
        <col width="89" style="width: 89px;">
        <col width="155" style="width: 154px;">
        <col width="89" style="width: 89px;">
      </colgroup>
      <tbody>
        <tr height="19" style="height: 19.6px;">
          <td
            colspan="4"
            height="19"
            class="blue"
            width="488"
            style="height: 19.6px; width: 366pt; text-align: center;"
          >
            <strong>Solids</strong>
          </td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td colspan="2" height="19" class="orange" style="height: 19.6px; text-align: center;">
            <strong>Vari-Pitch Toothing</strong>
          </td>
          <td style="text-align: center; height: 19.6px;" colspan="2" class="orange">
            <strong>TCT Toothing (Materials over 50 HRC)</strong>
          </td>
        </tr>
        <tr height="19" style="height: 39.1875px;">
          <td height="19" class="xl65" style="height: 39.1875px; text-align: center;">
            <strong>Material Diameter (D) MM</strong>
          </td>
          <td style="text-align: center; height: 39.1875px;" class="xl65"><strong>Teeth Per Inch</strong></td>
          <td style="text-align: center; height: 39.1875px;" class="xl65"><strong>Material Diameter (D) MM</strong></td>
          <td style="text-align: center; height: 39.1875px;" class="xl65"><strong>Teeth Per Inch</strong></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">0-5</td>
          <td style="background: rgb(24, 128, 190); color: white; text-align: center; height: 19.6px;" class="xl65">
            18
          </td>
          <td style="text-align: center; height: 19.6px;" class="xl65">50-120</td>
          <td style="background: #f59a26; color: white; text-align: center; height: 19.6px;" class="xl65">3/4</td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">4-8</td>
          <td style="color: white; background: rgb(0, 105, 167); text-align: center; height: 19.6px;" class="xl65">
            14
          </td>
          <td style="text-align: center; height: 19.6px;" class="xl65">100-250</td>
          <td style="background: #ef7c2a; color: white; text-align: center; height: 19.6px;" class="xl65">2/3</td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">2-15</td>
          <td style="background: rgb(1, 81, 123); color: white; text-align: center; height: 19.6px;" class="xl65">
            10/14
          </td>
          <td style="text-align: center; height: 19.6px;" class="xl65">150-400</td>
          <td style="background: #df5a28; color: white; text-align: center; height: 19.6px;" class="xl65">1.5/2</td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">8-20</td>
          <td style="background: rgb(12, 86, 72); color: white; text-align: center; height: 19.6px;" class="xl65">
            8/12
          </td>
          <td style="text-align: center; height: 19.6px;" class="xl65">350-600</td>
          <td style="background: #dc4c2c; color: white; text-align: center; height: 19.6px;" class="xl65">1.1/1.6</td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">16-30</td>
          <td style="background: #0c562e; color: white; text-align: center; height: 19.6px;" class="xl65">6/10</td>
          <td style="text-align: center; height: 19.6px;" class="xl65">500+</td>
          <td style="background: #d33130; color: white; text-align: center; height: 19.6px;" class="xl65">0.85/1.15</td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">25-40</td>
          <td style="background: #109954; color: white; text-align: center; height: 19.6px;" class="xl65">5/8</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">35-70</td>
          <td style="background: #f6b519; color: white; text-align: center; height: 19.6px;" class="xl65">4/6</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">60-120</td>
          <td style="color: white; background: #f59a26; text-align: center; height: 19.6px;" class="xl65">3/4</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">80-200</td>
          <td style="background: #ef7c2a; color: white; text-align: center; height: 19.6px;" class="xl65">2/3</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">120-400</td>
          <td style="background: #df5a28; color: white; text-align: center; height: 19.6px;" class="xl65">1.5/2</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">250+</td>
          <td style="background: #dc4c2c; color: white; text-align: center; height: 19.6px;" class="xl65">1.1/1.6</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
        <tr height="19" style="height: 19.6px;">
          <td height="19" class="xl65" style="height: 19.6px; text-align: center;">400+</td>
          <td style="background: #d33130; color: white; text-align: center; height: 19.6px;" class="xl65">0.75/1.25</td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
          <td style="text-align: center; height: 19.6px;" class="xl65"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-scrollable-wrapper" style="margin-top: 40px;">
    <table style="height: 411.6px;" border="0" cellpadding="0" cellspacing="0" width="100%">
      <colgroup>
        <col style="width: 29px;" width="64" span="17">
      </colgroup>
      <tbody>
        <tr style="height: 19.6px;">
          <td style="text-align: center; height: 19.6px;" colspan="17" class="blue" width="1088">
            <strong>Tubes and RHS</strong>
          </td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 39.2px;" rowspan="2" class="orange"><strong>Width (W)</strong></td>
          <td style="text-align: center; height: 19.6px;" colspan="16" class="orange">
            <strong>Wall Thickness (T)</strong>
          </td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">1</td>
          <td style="text-align: center; height: 19.6px;">1.6</td>
          <td style="text-align: center; height: 19.6px;">2</td>
          <td style="text-align: center; height: 19.6px;">2.5</td>
          <td style="text-align: center; height: 19.6px;">3</td>
          <td style="text-align: center; height: 19.6px;">4</td>
          <td style="text-align: center; height: 19.6px;">5</td>
          <td style="text-align: center; height: 19.6px;">6</td>
          <td style="text-align: center; height: 19.6px;">7</td>
          <td style="text-align: center; height: 19.6px;">8</td>
          <td style="text-align: center; height: 19.6px;">9</td>
          <td style="text-align: center; height: 19.6px;">10</td>
          <td style="text-align: center; height: 19.6px;">12</td>
          <td style="text-align: center; height: 19.6px;">15</td>
          <td style="text-align: center; height: 19.6px;">20</td>
          <td style="text-align: center; height: 19.6px;">50</td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">10</td>
          <td style="text-align: center; background: rgb(0, 105, 167); color: white; height: 19.6px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">20</td>
          <td style="text-align: center; background: rgb(0, 105, 167); color: white; height: 19.6px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">25</td>
          <td style="text-align: center; background: rgb(0, 105, 167); color: white; height: 19.6px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">30</td>
          <td style="text-align: center; background: rgb(0, 105, 167); color: white; height: 19.6px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 19.6px;">6/10</td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">40</td>
          <td style="text-align: center; background: rgb(0, 105, 167); color: white; height: 19.6px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 19.6px;">6/10</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 19.6px;">5/8</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 19.6px;">5/8</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 19.6px;">5/8</td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
        </tr>
        <tr style="text-align: center; height: 19.6px;">
          <td style="text-align: center; height: 19.6px;">50</td>
          <td style="text-align: center; background: rgb(0, 105, 167); color: white; height: 19.6px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 19.6px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 19.6px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 19.6px;">6/10</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 19.6px;">6/10</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 19.6px;">5/8</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 19.6px;">5/8</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 19.6px;">5/8</td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
          <td style="text-align: center; height: 19.6px;"></td>
        </tr>
        <tr style="height: 39.2px;">
          <td style="text-align: center; height: 39.2px;">60-120</td>
          <td style="text-align: center; height: 39.2px;">14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 39.2px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 39.2px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 39.2px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 39.2px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 39.2px;">5/8</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 39.2px;">5/8</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; height: 39.2px;"></td>
        </tr>
        <tr style="height: 39.2px;">
          <td style="text-align: center; height: 39.2px;">130-150</td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 39.2px;">10/14</td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 39.2px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 39.2px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 39.2px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 39.2px;">5/8</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 39.2px;">5/8</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
        </tr>
        <tr style="height: 39.2px;">
          <td style="text-align: center; height: 39.2px;">150-180</td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; background: rgb(1, 81, 123); color: white; height: 39.2px;">10/14</td>
          <td style="text-align: center; background: rgb(12, 86, 72); color: white; height: 39.2px;">8/12</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 39.2px;">5/8</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
        </tr>
        <tr style="height: 39.2px;">
          <td style="text-align: center; height: 39.2px;">190-300</td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(12, 86, 46); color: white; height: 39.2px;">6/10</td>
          <td style="text-align: center; background: rgb(16, 153, 84); color: white; height: 39.2px;">5/8</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(239, 124, 42); color: white; height: 39.2px;">2/3</td>
        </tr>
        <tr style="height: 39.2px;">
          <td style="text-align: center; height: 39.2px;">350-400</td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(239, 124, 42); color: white; height: 39.2px;">2/3</td>
        </tr>
        <tr style="height: 39.2px;">
          <td style="text-align: center; height: 39.2px;">450-500</td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; height: 39.2px;"></td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(247, 181, 25); color: white; height: 39.2px;">4/6</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(245, 154, 38); color: white; height: 39.2px;">3/4</td>
          <td style="text-align: center; background: rgb(239, 124, 42); color: white; height: 39.2px;">2/3</td>
        </tr>
      </tbody>
    </table>
  </div>
