<div class="YG1-PP-Ad lazyload-element animate">
  <div class="YG1-Ad-Content">
    <h3>Excision is now the exclusive distributor of YG-1 in Australia &amp; New Zealand</h3>
    <a class="button" href="https://excision.com.au/pages/yg-1-tooling">View the range</a>
  </div>
  <img
    src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/YG_Logo_White.png?v=1748387180"
    alt="YG-1 Logo"
    class="yg-logo"
    style="max-width: 100px; height: auto;"
    width="100px"
    height="auto"
  > 
</div>

<style>
  div.YG1-PP-Ad {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    padding: 40px;
    background: #d52e30;
    margin: 40px auto;
    text-align: center;
  }
  div.YG1-Ad-Content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  div.YG1-PP-Ad h3 {
    color: #fff;
    letter-spacing: -1px;
    font-size: xxx-large;
    text-align: left;
    text-wrap: balance;
    margin-bottom: 30px
  }
  a.button {
    background: white;
  }
</style>
