<h1>{{ section.settings.page_title }}</h1>
<p>{{ section.settings.page_info }}</p>

{% schema %}
  {
    "name": "Page Header",
    "settings": [
     {
        "type": "header",
        "content": "Page info"
     },
     {
        "type": "text",
        "id": "page_title",
        "label": "Page title"
     },
     {
        "type": "textarea",
        "id": "page_info",
        "label": "Info"
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
