   <div class="related-article__outer-wrapper lazyload-element">
   <div class="sppbp__outer-wrapper">
    <div class="container dt-prl-30 single-product-page-blog-posts">
     <div class="sppbp__inner">
        <h2 class="related_article_heading">Resources</h2>
         <div class="grid-uniform_none blog-items rla_regular">
          {% for article in blogs.learning-centre.articles %}
            {% assign tags = 'Magnetic Based Drills' | split: ',' %}
            {% if product.tags contains "synthetic-coolant" and article.tags contains "synthetic-coolant" %} 
              {% include 'product-articles-by-tag' %}
            {% endif %}
            {% if product.tags contains "meat-bandsaw-blade" and article.tags contains "meat-bandsaw-blade" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "endmills" and article.tags contains "endmills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Soluble Oils" and article.tags contains "Soluble Oils" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Long Series Holesaw" and article.tags contains "TCT Long Series Holesaw" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Holesaws & Accessories" and article.tags contains "Holesaws & Accessories" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT FRP Series Holesaws" and article.tags contains "TCT FRP Series Holesaws" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT FRP Series Holesaws" and article.tags contains "TCT FRP Series Holesaws" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Metal Preparing Machines" and article.tags contains "Metal Preparing Machines" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Industrial Clamps" and article.tags contains "Industrial Clamps" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Neat Oils" and article.tags contains "Neat Oils" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Coolants" and article.tags contains "Coolants" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Other Metal Working Fluids" and article.tags contains "Other Metal Working Fluids" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Core Drills" and article.tags contains "TCT Core Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Punch & Dies" and article.tags contains "Punch & Dies" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "coolant-accessories" and article.tags contains "coolant-accessories" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Magnetic Based Drills" and article.tags contains "Magnetic Based Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Bandsaw Machines" and article.tags contains "Bandsaw Machines" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Cutting Machines" and article.tags contains "Cutting Machines" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Fully automatic" and article.tags contains "Fully automatic" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Metals" and article.tags contains "Metals" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Bandsaw Blades" and article.tags contains "Bandsaw Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Timber / Plastic" and article.tags contains "Timber / Plastic" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Bandsaw Blades" and article.tags contains "TCT Bandsaw Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "High Speed Steel" and article.tags contains "High Speed Steel" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Coldsaw Blades" and article.tags contains "Coldsaw Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Meat" and article.tags contains "Meat" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Other" and article.tags contains "Other" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Dry-Cut Blades" and article.tags contains "TCT Dry-Cut Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Circular Blades" and article.tags contains "TCT Circular Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Cermet Tipped blades" and article.tags contains "Cermet Tipped blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Accessories - Metal Preparing" and article.tags contains "Accessories - Metal Preparing" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Vegetable Harvesting" and article.tags contains "Vegetable Harvesting" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Accessories - Magnetic Based Drills" and article.tags contains "Accessories - Magnetic Based Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Core Drills & Accessories" and article.tags contains "Core Drills & Accessories" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "High Speed Steel Cobalt" and article.tags contains "High Speed Steel Cobalt" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Misting Oils" and article.tags contains "Misting Oils" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Other Coldsaw blades" and article.tags contains "Other Coldsaw blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Alu Blades" and article.tags contains "TCT Alu Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "COLDSAW MACHINES" and article.tags contains "COLDSAW MACHINES" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Blank HSS Blades" and article.tags contains "Blank HSS Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Ejector Pins" and article.tags contains "Ejector Pins" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Bread Cutting" and article.tags contains "Bread Cutting" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Core Drill sets" and article.tags contains "Core Drill sets" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "INDUSTRIAL DRILLS" and article.tags contains "INDUSTRIAL DRILLS" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "GF Blades" and article.tags contains "GF Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "GF Blades" and article.tags contains "GF Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Countersink Bits" and article.tags contains "Countersink Bits" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Step Drills" and article.tags contains "Step Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Blank HSS Cobalt Blades" and article.tags contains "Blank HSS Cobalt Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Fine Toothed Holesaws" and article.tags contains "Fine Toothed Holesaws" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "HSS Cobalt 50mmm Depth" and article.tags contains "HSS Cobalt 50mmm Depth" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Track Star Rail Core Drills" and article.tags contains "Track Star Rail Core Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Other TCT Circular Blades" and article.tags contains "Other TCT Circular Blades" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT Short Series Holesaws" and article.tags contains "TCT Short Series Holesaws" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Punching Machines" and article.tags contains "Punching Machines" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "HSS Cobalt 30mm Depth" and article.tags contains "HSS Cobalt 30mm Depth" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "RQX Rail Core Drills" and article.tags contains "RQX Rail Core Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Holesaw Sets" and article.tags contains "Holesaw Sets" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Coarse Toothed Holesaws" and article.tags contains "Coarse Toothed Holesaws" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Semi-auto double column" and article.tags contains "Semi-auto double column" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "PORTABLE BANDSAW MACHINES" and article.tags contains "PORTABLE BANDSAW MACHINES" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Safety Hole Cutters" and article.tags contains "Safety Hole Cutters" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Accessories - Holesaws" and article.tags contains "Accessories - Holesaws" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Manual" and article.tags contains "Manual" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Semi-auto pivot" and article.tags contains "Semi-auto pivot" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "Dust and Fume Control" and article.tags contains "Dust and Fume Control" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}
            {% if product.tags contains "TCT AL Core Drills" and article.tags contains "TCT AL Core Drills" %} 
              {% include 'product-articles-by-tag' %} 
            {% endif %}              
          {% endfor %}
         </div>
       </div>
     </div>
   </div>
</div>
   
{% schema %}
{
  "name": "Related Articles",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Related articles"
    }
  ],
  "presets": [
    {
      "name": "Related articles"
    }
  ]
}
{% endschema %}
