{% if page.handle  == 'register' %}
  <script>
   window.location.replace("https://www.myexcision.com.au/register");
  </script>
{% endif %}
{% comment %} {% include 'breadcrumb' %} {% endcomment %}
<nav class="breadcrumb simple-lazyload" role="navigation" aria-label="breadcrumbs">
   <div class="breadcrumbs container dt-prl-30">
       <div class="w-btn-wrapper lazyload-element">
         <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
       </div> 
   </div> 
  <div class="container dt-prl-30">
        <div class="row text-align-left">
           <div class="col-md-7 lazyload-element">
              <div class="placeholder">
                 <h1>{{ page.title }}</h1>
              </div>
           </div>          
        </div>
     </div>
</nav>

{% section 'project-grid' %} 
