<div class="std product-brochures-page simple-lazyload">
   <section class="hero-banner ">
         <div class="breadcrumbs-wrapper">
            <div class="breadcrumbs container dt-prl-30">
               <div class="row">
                 <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="/pages/product-brochures"><span class="w-btn-label font-bold"><em>←</em> Back to Product Brochures</span></a>
                 </div>
               </div>
              {% comment %}
                  <ul class="col-12 s12">
                     <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>
                        <span>| </span>
                     </li>
                     <li class="home">
                        <a href="/pages/product-brochures" title="Go to Product Brochures">Product Brochures</a>
                        <span>| </span>
                     </li>                     
                     <li class="cms_page">
                        <strong class="font-bold"> Product Brochures Etc</strong>
                     </li>
                  </ul>
                 {% endcomment %}
               </div>
            </div>
         </div>
         <div class="container dt-prl-30">
            <div class="row ">
               <div class="col-md-7 lazyload-element">
                  <div class="placeholder">
                     <h1>Product Brochures Etc</h1>
                     {% comment %}
                     <p>Enter your state and postcode to find a supplier near you</p>
                     {% endcomment %}
                  </div>
               </div>
              <div class="col-md-1"></div>                        
              <div class="col-md-4 animated fadeIn"></div>
            </div>
         </div>
   </section> 
  
  {% section 'product-brochures-etc' %}

</div>