<section class="hero-banner ">
    <div class="breadcrumbs-wrapper">
       <div class="breadcrumbs container dt-prl-30">
          <div class="row">
            <div class="col-md-12">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
              {% comment %}
             <ul class="col-12 s12">
                <li class="home">
                   <a href="/" title="Go to Home Page">Home</a>
                   <span>| </span>
                </li>
                <li class="cms_page">
                   <strong class="font-bold"> Distributor Locator</strong>
                </li>
             </ul>
             {% endcomment %}
          </div>
       </div>
    </div>
     <div class="container dt-prl-30">
        <div class="row ">
           <div class="col-md-7">
              <div class="placeholder">
                 <h1>Distributor Finder</h1>
                 <p>Enter your state and postcode to find a supplier near you</p>
              </div>
           </div> 
        </div>
     </div>
</section>

<div class="container dt-prl-30">
    <div class="rte">
      {{ page.content }}
    </div>
</div>
