<section class="hero-banner simple-lazyload">
   <div class="breadcrumbs-wrapper">
      <div class="breadcrumbs container dt-prl-30">
         <div class="row">
            <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
            {% comment %}
            <ul class="col-12">
               <li class="home">
                  <a href="/" title="Go to Home Page">Home</a>
                  <span>| </span>
               </li>
               <li class="cms_page">
                  <strong class="font-bold">About Us</strong>
               </li>
            </ul>
            {% endcomment %}
         </div>
      </div>
   </div>
   <div class="container dt-prl-30">
      <div class="row ">
         <div class="col-md-7 lazyload-element">
            <div class="placeholder">
               <h1>About Excision</h1>
               <p></p> 
            </div>
         </div>
         <div class="col-md-1"></div>
         <div class="col-12 col-md-4 animated fadeIn lazyload-element">
            <div class="card card-panel white contact-card hoverable">
               <div class="inner-wrapper">
                  <p class="sub-heading font-bold">Do You Have Any Questions?</p>
                  <h4>Give Us a Call</h4>
                  <a href="tel:+1800633448">1800 633 448</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="container dt-prl-30 simple-lazyload">
   <div class="row">
      <div class="col-12 col-md-4 lazyload-element">
         <div class="card-2 card hoverable">
            <div class="card-image">
               <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/company-information.png?v=1597648778" alt="">
            </div>
            <div class="card-content" style="height: 85px;">
               <h2>Company Information</h2>
            </div>
            <a class="card-action" href="/pages/company-information">
               <p class="action font-bold"> Read More <em>→</em></p>
            </a>
         </div>
      </div>
     
      <div class="col-12 col-md-4 lazyload-element">
         <div class="card-2 card hoverable">
            <div class="card-image">
               <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/Media.jpg?v=1597648778" alt="">
            </div>
            <div class="card-content" style="height: 85px;">
               <h2>Media</h2>
            </div>
            <a class="card-action" href="/pages/media-downloads">
               <p class="action font-bold"> Read More <em>→</em></p>
            </a>
         </div>
      </div>
     
      <div class="col-12 col-md-4 lazyload-element">
         <div class="card-2 card hoverable">
            <div class="card-image">
               <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/Blog.jpg?v=1597648778" alt="">
            </div>
            <div class="card-content" style="height: 85px;">
               <h2>Blog</h2>
            </div>
            <a class="card-action" href="/blogs/news">
               <p class="action font-bold"> Read More <em>→</em></p>
            </a>
         </div>
      </div>
     
      <div class="col-12 col-md-4 lazyload-element">
         <div class="card-2 card hoverable">
            <div class="card-image">
               <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/Team_Photos-21_Edited.png" alt="">
            </div>
            <div class="card-content" style="height: 85px;">
               <h2>Our Team</h2> 
            </div>
            <a class="card-action" href="/pages/our-team">
               <p class="action font-bold"> Read More <em>→</em></p>
            </a>
         </div>
      </div>     
   </div>
</div>
<div class="container dt-prl-30 tiny simple-lazyload">
   <div class="row">
      <div class="col-12 c12 lazyload-element">
         <h2>Excision </h2>
         <div class="read-more">
            <div class="wrap show-more">
               <p>Founded in 1993, Excision is now a 3rd generation family
                  owned and operated company. Over the past 25 years Excision
                  has developed into the most respected brand for industrial
                  and specialised cutting solutions across Australia. We now
                  service a large range of customers across Australia,
                  manufacturing, importing and distributing solutions for
                  industrial cutting.
               </p>
               <p>Excision is trusted by clients of all sizes from large
                  corporations to small family owned business, because of our
                  unparalleled flexibility to cater for every customer. With
                  our entire production facility purpose built to maximise
                  customer satisfaction and fulfil requirements on individual
                  orders, we are able to exceed industry expectations on
                  delivery. Using the latest advancements in manufacturing
                  technology, we are able to guarantee precision and the
                  highest quality product every time.
               </p>
               <p>
                  We have a dedicated team that is passionate about delivering
                  excellence and satisfaction. Our strong team culture means
                  that whatever it takes, the customer gets priority every
                  time. Harnessing innovation to challenge the status quo
                  allows us to be better every day, growing individually and
                  as a team.
               </p>
               <p>
                  Our product development team analyses pain points in the
                  industry, combines these with the experience and passion of
                  the entire team to innovate and bring new game changing
                  solutions to the industry.
               </p>
               <p>
                  At Excision we combined dependable precision with innovation
                  and care to deliver a winning combination for our customers!
               </p>
               <p><br></p>
            </div>
            <div class="toggle"></div>
         </div>
      </div>
   </div>
</div>