<div class="std simple-lazyload">
   <section class="hero-banner">
         <div class="breadcrumbs-wrapper">
            <div class="breadcrumbs container dt-prl-30">
               <div class="row">
                 <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
              {% comment %}
                  <ul class="col-12 s12">
                     <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>
                        <span>| </span>
                     </li>
                     <li class="cms_page">
                        <strong class="font-bold">Material and Safety Data Sheets</strong>
                     </li>
                  </ul>
                 {% endcomment %}
               </div>
            </div>
         </div>
         <div class="container dt-prl-30">
            <div class="row">
               <div class="col-md-7 lazyload-element">
                  <div class="placeholder">
                     <h1>Material and Safety Data Sheets</h1>
                     {% comment %}<p>Informative resources to make your life easier</p>
                     
                     <p>Enter your state and postcode to find a supplier near you</p>
                     {% endcomment %}
                  </div>
               </div>
              <div class="col-md-1"></div>
              <div class="col-md-4 animated fadeIn"></div>
            </div>
         </div>
  </section>

  <div class="container lazyload-element">
    <div class="blog-insert" style="background-image: url(https://cdn.shopify.com/s/files/1/0439/5597/8399/files/shutterstock_676650826.jpg?v=1723432860); background-position: center;background-size: cover; padding: 40px; border-radius: 15px; border: 2px solid #e8e8e8; margin-bottom: 20px;">
    <h2 style="color: #ffffff;">Not sure what your concentration level is?</h2>
    <p style="color: white;">Learn more about how to test your concentration.</p>
    <a href="https://excision.com.au/blogs/blog/how-to-test-the-concentration-level-in-my-coolant" class="button">Learn More on the Blog</a>
    </div>
  </div>
    
  {% section 'material-safety-data' %}  

</div>