<section class="hero-banner simple-lazyload">
    <div class="breadcrumbs-wrapper">
       <div class="breadcrumbs container dt-prl-30">
          <div class="row">
             <ul class="col-12 s12 lazyload-element">
                <li class="home">
                   <a href="/" title="Go to Home Page">Home</a>
                   <span>| </span>
                </li>
                <li class="cms_page">
                   <strong> Distributor Locator</strong>
                </li>
             </ul>
          </div>
       </div>
    </div>
     <div class="container dt-prl-30">
        <div class="row ">
           <div class="col-md-7 lazyload-element">
              <div class="placeholder">
                 <h1>Become a Distributor</h1>
                 
              </div>
           </div> 
        </div>
     </div>
</section>
<!--  
<div class="container">
    <div class="rte">
      {{ page.content }}
    </div>
</div>
-->

<div class="container dt-prl-30 simple-lazyload">
        <div class="row padding30">
           <div class="col-md-5 lazyload-element">
              <img class="img-align img-fluid" src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/Shakehands.png?v=1713405011" alt="Joining Forces"/>
            
           </div>
           <div class="col-md-7 lazyload-element">
              <h2 class="bigger">Joining Forces for Premium Industrial Cutting Solutions</h2>
              <p>Excision seeks to collaborate with existing distributors that align with our commitment to excellence in the industrial cutting solutions industry. We value medium-sized companies that have a strong track record and established networks in their respective markets.</p>
              <p>Our ideal distributor shares our dedication to customer satisfaction and possesses a keen understanding of the importance of premium quality products. With over 30 years of experience, we believe in partnering with distributors who can leverage their expertise to effectively communicate our technical knowledge and capabilities to potential customers.</p>
              <p>By joining forces with such distributors, Excision aims to expand its reach and provide tailored cutting solutions to a wider range of industries and applications. We look forward to collaborating with like-minded partners who value efficiency, quality, and outstanding customer service as much as we do.</p>
           </div>          
             
        </div>
</div>

<div class="container dt-prl-30 simple-lazyload">
        <div class="row padding30" id="badge-section" >
          <div class="col-md-4 lazyload-element">
            <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/precision_badge.png?v=1614298343" alt="Precision"/>
          </div>
          <div class="col-md-4 lazyload-element">
            <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/badge-30yrs-transparent.png?v=1713411501" alt="30 Year"/>
          </div>
          <div class="col-md-4 lazyload-element">
            <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/badge-australian-Family-owned_transparent.png?v=1713411832" alt="Australian family owned"/>
          </div>          
        </div>
</div>

<div class="container dt-prl-30 simple-lazyload" style="text-align:center;">
        <div class="row padding30">
           <div class="col-md-12 lazyload-element">
             <h2 class="bigger">Why Become a Distributor for Excision?</h2>
             <p>We are a manufacturer and importer of premium quality industrial cutting solutions. With over 30 years of
experience, our dedicated team works hard to deliver on customer requirements and ensure satisfaction –
every time!</p>
             <p>With no boundaries on our sourcing and product development, we can find the right solution for your
application every time. We use our technical expertise to combine efficiencies, quality, and great customer
service to solve any of your industrial cutting problems. We provide solutions to fulfil requirements on
orders of all sizes, delivering superior product quality and unsurpassed customer care.</p>
           </div>
        </div>
</div>

<div class="container dt-prl-30 simple-lazyload" id="process-section">
        <div class="row">
           <div class="col-md-12 lazyload-element">
             <h2 class="bigger" style="text-align:center;">The Process</h2>

           </div>
        </div>
        <div class="row">
          <div class="col-md-2 lazyload-element">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/p1.png?v=1713409927" alt="Submit the Distributor Application Form"/>
          </div>
          <div class="col-md-10 lazyload-element">
            <h3>Submit the Distributor Application Form</h3>
            <p>The first step in the process involves completing and submitting the distributor application form provided by Excision. This form includes essential information about your company and your interest in representing Excision's premium industrial cutting solutions.</p>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-2 lazyload-element">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/p2.png?v=1713409927" alt="Profile Creation on Custom Distributor Platform"/>
          </div>
          <div class="col-md-10 lazyload-element">
            <h3>Profile Creation on Custom Distributor Platform</h3>
            <p>If your application is approved, Excision will get in touch with you to guide you through the process of creating a profile on our custom distributor platform.</p>
            <p>This platform serves as a centralised hub for all distributor-related activities. It allows you to access product information, browse available stock, manage and pay invoices, and stay in constant communication with Excision to streamline the distribution process.</p>
          </div>    
          
        </div>  
        <div class="row">
          <div class="col-md-2 lazyload-element">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/p3.png?v=1713409927" alt="Start Purchasing"/>
          </div>
          <div class="col-md-10 lazyload-element">
            <h3>Start Purchasing</h3>
            <p>With your profile set up on the distributor platform, you can begin purchasing Excision's industrial cutting solutions to supply to your customer base. This step marks the beginning of your partnership with Excision as an authorised distributor, and you can start fulfilling orders and providing top-quality cutting solutions to your clients.</p>
          </div>           
        </div>  
</div>

<div class="container dt-prl-30 content simple-lazyload" id="contact_form" style="margin-top:70px;">
   <div class="row">
      <div class="col-md-12">
         <div class="card card-panel z-depth-5 contact-details">
            <div class="col-sm-6 left-main-div lazyload-element">
               <section class="inner-wrapper">
                  <h2>Contact Info</h2>
                  <p><strong>Free call (Australia Only): <a href="tel:+1800633448">1800 633 448</a></strong></p>
                  <ul>
                     <li><i class="fa fa-phone-square" aria-hidden="true"></i><a href="tel:+61355514555">+61 (03) 5551 4555</a></li>
                     <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@excision.com.au">info@excision.com.au</a></li>
                     <li><i class="fa fa-fax" aria-hidden="true"></i> 35 Peck Street, Hamilton VIC 3300</li>
                  </ul>
                  <a><strong>Follow Us</strong></a>
                  <a href="https://www.linkedin.com/company/excision/" target="_blank"><strong><i class="fa fa-linkedin-square" aria-hidden="true"></i></strong></a>
                  <a href="https://www.facebook.com/pages/biz/Excision-Australia-1156286404422217/" target="_blank"><strong><i class="fa fa-facebook-official" aria-hidden="true"></i></strong></a>
               </section>
               <img src="https://cdn.shopify.com/s/files/1/0439/5597/8399/files/excision-map.png?v=1601959790" alt="Excision Map Location">
            </div>
            <div class="col-sm-6 lazyload-element">
               <div class="contact-form-wrapper">
                  <h2>Apply to Become a Distributor</h2>
                  <div>
                     <div id="contactFormWrapper" class="hs_EnquiryForm">
                       <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                       <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "2595431",
                            formId: "1301c490-861c-4fc2-87b5-4a299948f288"
                          });
                       </script>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>

  $(document).ready(function() {
    // Add smooth scroll to anchor links
    $('a[href^="#"]').on('click', function(event) {
      event.preventDefault();
      var target = $(this.hash);
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top - 150
        }, 1000); // Adjust the scroll speed if needed
      }
    });
  });
  
  // Wait for a delay before checking if an element with class .stockist-search-form exists
  setTimeout(function() {
    
    /*
    // Check if an element with class .stockist-search-form exists
    if ($('.stockist-search-form').length > 0) {
      console.log('Element with class .stockist-search-form exists on the page.');
    } else {
      console.log('Element with class .stockist-search-form does not exist on the page.');
    }
    */

    // Create an h3 element
    var h3Element_search = $("<h3>").text("Search By Location");
    var h3Element_explore = $("<h3>").text("Explore Our Network");
    var h3Element_get_result = $("<h3>").text("Get Instant Results");

    // Append the h3 element before the element 
    h3Element_search.insertBefore(".stockist-query-entry");
    h3Element_explore.insertBefore(".stockist-result-list");
    h3Element_get_result.insertBefore(".stockist-map-inner");
    
  }, 2000); // Delay in milliseconds (adjust as needed)
</script>

<style>
  .img-fluid{
    width: 100%;
  }

  .img-align{
    height: 100%;
    object-fit: cover;
  }

  .row h2 {
    font-size: 24px;
    font-weight: 700;
    color: #00487f;
    text-transform: none;
  }  

  h2.bigger{
    font-size: 32px;
    margin-bottom: 30px;
  }

  h3{
    font-weight: bold;
    margin-bottom: 30px;
  }
/*
  #badge-section{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #eff1f4;
  }
*/
  #badge-section img{
    max-height: 150px;
    width: 100%;
    object-fit: contain;
  }

  #badge-section {
    position: relative;
  }
  
  #badge-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #eff1f4;
    z-index: 0;
  }  

  #process-section img{
    height: 140px;
    width: 100%;
    object-fit: contain;
  }

  #process-section .row{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }  

  .padding30{
     padding: 50px 0; 
  }

  main.wrapper.main-content {
      max-width: 100%;
      padding: 0px;
  }
  .hero-wrapper{
      max-width: 1060px;
      padding: 0px;
      margin: 0 auto;
      /*padding-left: 12px;*/
  }
  .container{
      max-width: 1060px;
      margin: 0 auto;
  }
  .section-title {
      color: #00487F !important;
      font-size: 24px;
      line-height: normal;
      font-weight: 700;
      margin: 0 0 1.5rem;    
  }
  .breadcrumbs .row .col {
      margin-left: 0; 
  }  

  #contact_form {
    margin-bottom: 60px;
  }
  
  .container {
    max-width: 1060px;
    margin: 0 auto;
  }

  .content .card-panel .inner-wrapper {
    background: linear-gradient(150deg, #009ad9, #00437a);
    padding: 40px 60px;
    min-height: 320px;
  }

  /*** Responsive Styles Smartphone Only ***/
  @media all and (max-width: 767px) { 
  
    #contact_form .col-sm-12{
      padding-right: 0 !important;
    }

    .col-md-2{width:20%;}
    .col-md-10{width:79%;}
    .col-md-4{width:33.33%;}

    #badge-section img{padding: 0 15px;}

    .row h2{margin: 30px 0;}
  }
  
  main.wrapper.main-content {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px; }
  
  .card-panel {
    padding: 0;
    overflow: hidden; }
  
  .content .card-panel .inner-wrapper {
    background: linear-gradient(150deg, #009ad9, #00437a);
    padding: 40px 60px;
    min-height: 320px; }
  
  img {
    width: 100%; }
  
  #contact_form{
    margin-bottom: 60px;
  }
  
  #stockist-widget h3{
    margin-bottom: 10px;
    font-weight: 700;
    color: #0069a7;
    font-size: 15px;
  }
  
  .stockist-search-form:before{content:"" !important;}
  .stockist-result-list:before{content:"" !important;}
  .stockist-map.stockist-map-google:before{content:"" !important;}  

  .contact-details h2 {
    color: #fff;
  }

  div#contactFormWrapper.hs_EnquiryForm input[type=text], div#contactFormWrapper.hs_EnquiryForm input[type=email], div#contactFormWrapper.hs_EnquiryForm textarea {
      background: #e8e7e7 !important;
      border-radius: 10px !important;
      padding: 5px 10px !important;  
  }

  div#contactFormWrapper.hs_EnquiryForm fieldset.form-columns-1 input[name="TICKET.subject"] {
      min-height: 130px;
  }  

  input.hs-button.primary.large {
      background: #0071aa !important;
  }  
</style>