<section class="hero-banner simple-lazyload">
  <div class="breadcrumbs-wrapper">
    <div class="breadcrumbs container dt-prl-30">
      <div class="row">
        <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
              {% comment %}
        <ul class="col-12 s12">
          <li class="home">
            <a href="/" title="Go to Home Page">Home</a>
            <span>| </span>
          </li>
          <li class="cms_page">
            <strong class="font-bold">Media Downloads</strong>
          </li>
        </ul>
        {% endcomment %}
      </div>
    </div>
  </div>
   <div class="container dt-prl-30">
      <div class="row ">
         <div class="col-md-7 lazyload-element">
            <div class="placeholder">
               <h1>Media</h1>
               <p>Stay informed with the latest specials, products realeases and brochures</p>
            </div>
         </div>
        <div class="col-md-1"></div>
      </div>
   </div>
</section>

{% section 'media-downloads' %}

{% comment %}
<div class="container">
  <div class="row">
     <div class="col-sm-12">
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="jfF2YNlG-oM">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/jfF2YNlG-oM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 92px;">
              <h2>The Amazing Magnex Drill</h2>
           </div>
        </div>
     </div> 
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="68px6NGE3Vs">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/68px6NGE3Vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 92px;">
              <h2>Excision FX Xtreme Clamps</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="ktCs2jFmwhk">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ktCs2jFmwhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 92px;">
              <h2>Excision - The Movie</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="FEVjfkVo2Ac">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/FEVjfkVo2Ac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 92px;">
              <h2>Excision Core Drills</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="YrDJIy10OFU">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/YrDJIy10OFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 92px;">
              <h2>Excision Metal Cutting Fluids</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="4hZMqMR9qbo">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/4hZMqMR9qbo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 92px;">
              <h2>Excision Bandsaw Blades</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="unRA0yOlHGs">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/unRA0yOlHGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 114px;">
              <h2>Excision Magnex Drill</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="PzeorE8nswc">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/PzeorE8nswc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 114px;">
              <h2>Excision - a short overview</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="YLBtYpEyqoA">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/YLBtYpEyqoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 114px;">
              <h2>Excision AllClear Fume Extraction</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="nqMFW8QmDqI">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/nqMFW8QmDqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 136px;">
              <h2>Excision TCT Dry Cut Circular Blades</h2>
           </div>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="card-2 card hoverable modal-video-trigger" data-video-id="cSnSBFDEO9s">
           <div class="card-image">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/cSnSBFDEO9s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div class="card-content" style="height: 136px;">
              <h2>Excision XDP905 Range - Cutting, Drilling and Tapping Lubrication</h2>
           </div>
        </div>
     </div>
  </div>

  <style>
  div.card.card-panel.white.contact-card.hoverable {
    background: white;
  }
  </style>

</div>
{% endcomment %} 
