<section class="hero-banner simple-lazyload">
    <div class="breadcrumbs-wrapper">
       <div class="breadcrumbs container dt-prl-30">
          <div class="row">
            <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
              {% comment %}
             <ul class="col-12 s12">
                <li class="home">
                   <a href="/" title="Go to Home Page">Home</a>
                   <span>| </span>
                </li>
                <li class="cms_page">
                   <strong class="font-bold"> Distributor Locator</strong>
                </li>
             </ul>
             {% endcomment %}
          </div>
       </div>
    </div>
     <div class="container dt-prl-30">
        <div class="row ">
           <div class="col-md-7 lazyload-element">
              <div class="placeholder">
                 <h1>Distributor Finder</h1>
                 <h2 class="font-bold">Find A Supplier Near You</h2>
                 <p>Quickly locate your nearest supplier for Bandsaw Blades, Circular Blades, Coolants, and other precision cutting tools. Enter your details below to search our network of approved distributors.
</p>
              </div>
           </div> 
        </div>
     </div>
</section>
<!--  
<div class="container">
    <div class="rte">
      {{ page.content }}
    </div>
</div>
-->

<div class="container dt-prl-30 simple-lazyload">
        <div class="row ">
           <div class="col-md-12">
              <div data-stockist-widget-tag="u8472" class="store-locator lazyload-element">Loading store locator from <a href="https://stockist.co">Stockist store locator</a>...</div>
              <script>
                (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
                k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
                })(document,'script','//stockist.co/embed/v1/widget.min.js');
              </script>

              <div style="text-align: center;"><a class="btn header-login-btn waves-effect waves-light z-depth-3 blue-cta" href="/pages/become-a-distributor"><span>Become a Distributor</span></a></div>
             
              <div class="custom-accordion lazyload-element">
              <h3><strong>FAQs</strong></h3>
              <script type="text/javascript">
              $(document).ready(function() {
                
                  $('.custom-accordion > li').click(function() {
                      var block = $(this);
                      if ($(block).attr('class') === 'active') {
                          block.removeAttr('class');
                      } else {
                          block.addClass('active');
                      }
                      
                      var answer = block.find('.answer');
                      $(answer).toggle('fast');
                  });
              });
              </script>
                
             <ul class="custom-accordion">
              <li>
              <div class="question"><span class="font-bold">How do I measure and order a bandsaw blade?</span>
              <div class="answer">
              <p>Step 1, measure the length of your bandsaw blade.</p>
              <ol>
              <li>Adjust the wheels of the machine to their correct position (about the middle of the adjustment range)</li>
              <li>Measure the distance between the centre-point of each wheel in mm (D)</li>
              <li>Measure the radius of each wheel in mm (R1 and R2)</li>
              <li>Use the formula (RA x 3.1416) + (R2 x 3.1416) + (2 x D)</li>
              </ol>
              <p>If you already know the length of the blade you need, you can use the guide below to find the part number you need.</p>
              <ul>
              <li>
              <strong class="font-bold">First</strong> 3 digits are the type of material</li>
              <li>
              <strong class="font-bold">Next</strong> 2 digits are width in mm</li>
              <li>
              <strong class="font-bold">Next</strong> 3 digits represent TPI</li>
              <li>
              <strong class="font-bold">Last</strong> 4/5 digits represent length in mm</li>
              </ul>
              <br>
              <ul>
              <li>
              <strong class="font-bold">Example:</strong> Bi-Alfa <a href="https://excision.com.au/products/bialfa-cobalt-m42-27-x-0-9-x-10-14-2480">cobalt</a> M42 - 27mm width - 10/14 TPI x 2480mm length<br> 620 | 27 | 114 - 2480<br> 62027114-2480</li>
              </ul>
              </div>
              </div>
              </li>
              <li>
              <div class="question"><span class="font-bold">What is the correct tooth pitch for my saw blade?</span>
              <div class="answer">
          
              <p>The tooth pitch describes the number of teeth per inc (TPI). You must select the correct TPI for the thickness of the material you are currint. If you don't, the blade life will be dramatically shortened.</p>
              <p>To determine the correct TPI for your cutting application you need to know:</p>
              <p>For solids) material diameter<br> For tube) tube width and wall thickness</p>
              </div>
              </div>
              </li>
              <li>
              <div class="question"><span class="font-bold">How To Fix The Most Common Bandsaw Failures?</span>
              <div class="answer">
              <p>There are a lot of things that can go wrong with bandsaws, but we created a guide that helps you sort out <a href="/blogs/blog/4-solutions-to-fix-the-most-common-bandsaw-failures">the top 7 common bandsaw failures people experience.</a></p>
            
              </div>
              </div>
              </li>
              <li>
              <div class="question"><span class="font-bold">How do I test the concentration level in my coolant?</span>
              <div class="answer">
              <p>You can <a href="/blogs/blog/how-to-test-the-concentration-level-in-my-coolant">test the concentration level of your coolant</a> using either a visual or digital refractometer.</p>
              <p>We recommend you do this frequently (every 1-2 weeks) to ensure your coolant remains healthy and high-performing.</p>
              
              </div>
              </div>
              </li>
              </ul>
              </div>              
           </div>
        </div>
</div>

<div class="contact_us_outer_wrapper simple-lazyload">
  <div class="container dt-prl-30 content">
   <div class="row">
      <div class="col-md-12">
         <div class="row contact-details">
            <div class="col-12 col-sm-6 left-main-div lazyload-element">
               <section class="inner-wrapper">
                  <h2 class="h1">Get In Touch<br> With Our Team</h2>
                  <p class="font-bold">Interested in expanding your business with our cutting-edge products? Join our growing network of distributors and be part of our success story.</p>
                  <p>Reach out to us for a partnership discussion or explore the opportunity further.</p>
                 <ul>
                     <li><a href="tel:+61355514555">+61 (03) 5551 4555</a></li>
                     <li><a href="mailto:info@excision.com.au">info@excision.com.au</a></li>
                     <li>35 Peck Street, Hamilton VIC 3300</li>
                  </ul>                 
               </section>              
            </div>
            <div class="col-12 col-sm-6 lazyload-element">
               <div class="contact-form-wrapper">
                  <h2>Send Us Your Enquiry</h2>
                   <div id="contactFormWrapper" class="hs_EnquiryForm">
                       <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                       <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "2595431",
                            formId: "816a42ad-39bc-48ac-8ecf-079489b1ae8a"
                          });
                       </script>
                      <div class="contact_us_call font-bold"> <i class="fa fa-phone" aria-hidden="true"></i> Or Phone us on <a href="tel:+61355514555">+61 (03) 5551 4555</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:NaNpx;height:400px;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe title="Excision Map" style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Excision+Pty+Ltd,+Peck+Street,+Hamilton+VIC,+Australia&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="the-googlemap-enabler" rel="nofollow" href="https://kbj9qpmy.com/hrn" id="enable-map-data">Hosting Right Now</a><style>#google-maps-display img{max-height:none;max-width:none!important;background:none!important;}</style></div>
</div>

<style>
section.inner-wrapper h1 {
  color: white;
  margin-bottom: 20px;
}
  div.custom-accordion {
    margin-bottom: 60px !important;
    margin-top: 60px !important;
  }
  h3 {
    margin-bottom: 20px;
  }

.blue-cta{
    margin-left: 20px !important;
    background-color: #0069a7 !important;
    color: white !important;  
    margin: 30px 0 0 0 !important;
}
</style>

<script>

  $(document).ready(function() {
    // Add smooth scroll to anchor links
    $('a[href^="#"]').on('click', function(event) {
      event.preventDefault();
      var target = $(this.hash);
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top - 150
        }, 1000); // Adjust the scroll speed if needed
      }
    });
  });
  
  // Wait for a delay before checking if an element with class .stockist-search-form exists
  setTimeout(function() {
    
    /*
    // Check if an element with class .stockist-search-form exists
    if ($('.stockist-search-form').length > 0) {
      console.log('Element with class .stockist-search-form exists on the page.');
    } else {
      console.log('Element with class .stockist-search-form does not exist on the page.');
    }
    */

    // Create an h3 element
    var h3Element_search = $("<h3>").text("Search By Location");
    var h3Element_explore = $("<h3>").text("Explore Our Network");
    var h3Element_get_result = $("<h3>").text("Get Instant Results");

    // Append the h3 element before the element 
    h3Element_search.insertBefore(".stockist-query-entry");
    h3Element_explore.insertBefore(".stockist-result-list");
    h3Element_get_result.insertBefore(".stockist-map-inner");
    
  }, 2000); // Delay in milliseconds (adjust as needed)
</script>