<section class="hero-banner lazyload-element">
    <div class="breadcrumbs-wrapper">
       <div class="breadcrumbs container dt-prl-30">
          <div class="row">
            <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
             {% comment %}
             <ul class="col-md-12 s12">
                <li class="home">
                   <a href="/" title="Go to Home Page">Home</a>
                   <span>| </span>
                </li>
                <li class="cms_page">
                   <strong class="font-bold"> Metal Preparing Machines</strong>
                </li>
             </ul>
             {% endcomment %}
          </div>
       </div>
    </div>
     <div class="container dt-prl-30">
        <div class="row ">
           <div class="col-md-7 lazyload-element">
              <div class="placeholder">
                 {% section 'metal-preparing-machines-page-header' %}
              </div>
           </div>
          <div class="col-md-1"></div>
           <div class="col-md-4 animated fadeIn"></div>
        </div>
     </div>
</section>

{% section 'metal-preparing-machines-page-content' %}  
{% section 'metal-preparing-machines-section-info' %} 
