<section class="hero-banner simple-lazyload">
  <div class="breadcrumbs-wrapper">
    <div class="breadcrumbs container dt-prl-30">
      <div class="row">
        <div class="col-md-12 lazyload-element">
                 <div class="w-btn-wrapper">
                    <a class="w-btn icon_atleft" href="{{ shop.url }}"><span class="w-btn-label font-bold"><em>←</em> Back to Home</span></a>
                 </div>
               </div>
              {% comment %}
              <ul class="col-12">
                <li class="home">
                  <a href="/" title="Go to Home Page">Home</a>
                  <span>| </span>
                </li>
                <li class="cms_page">
                  <strong class="font-bold">About Us</strong>
                </li>
              </ul>
        {% endcomment %}
      </div>
    </div>
  </div>
  <div class="container dt-prl-30">
    <div class="row ">
      <div class="col-md-7 lazyload-element">
        <div class="placeholder">
          <h1>Dependable Precision</h1>
          <p>Our Promise!</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>

<style>
  div.card.card-panel.white.contact-card.hoverable {
    background: white;
  }
</style>

<div class="container dt-prl-30 small mb2 mb-video simple-lazyload"> 
  <div class="row">
    <div class="col-md-12 lazyload-element">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/juPqLJJhMo8?si=Jy40B6AkYXiIdPqt"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div class="container dt-prl-30 tiny mb2 simple-lazyload">
  <style>
  .custom-container {
    max-width: 1000px;
    margin: 0 auto;
  }
</style>
  <div class="row values">
    <div class="col s12 lazyload-element">
      <h2>Why choose Excision?</h2>
      <p>
        We are a manufacturer and importer of premium quality industrial cutting solutions. With over 30 years of
        experience, Our dedicated team works hard to deliver on customer requirements and ensure satisfaction – every
        time!
        </p>
      </p>
        With no boundaries on our sourcing, and product development we can find the right solution for your application
        every time. We use our technical expertise to combine efficiencies, quality, and great customer service to solve
        any of your industrial cutting problems.
      </p>
      <p>
        We provide solutions to fulfil requirements on orders of all sizes, delivering superior product quality and
        unsurpassed customer care.
      </p>
    </div>
  </div>
</div>


  {% comment %}
  <div class="join_our_team">
    <div class="container">
      <div class="row">
        <div class="col s12 center mt2 mb2">
          <a href="/pages/career" class="btn waves-effect waves-light" type="submit">
            <span class="hide-on-small-only"> Join Our Team </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% section 'our-team' %}
  {% endcomment %}
</div>
